@import url('https://fonts.googleapis.com/css?family=Lato');

body {
   padding: 0 15px;
   margin: 0 15px;
   font-family: lato, sans-serif, arial;
}
.ui-jqgrid-htable th,
.ui-jqgrid tr.jqgrow td{ 
    text-transform: capitalize; 
}
.ui-jqgrid-htable th div{
    font-weight: bold;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3FC300;
}

#menu ul li {
    float: left;
}

#menu  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#menu  ul li a:hover,
#menu .active {
    background-color: #ddd;
    color:black;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.ui-tabs-panel #subtitle{
  display:none;
}

ul.barcode {
  list-style-type: none;
}

ul.barcode li > div {
  text-align: center;
  float: left;
  margin: 30px;
  max-width: 300px;
  margin-bottom:15px;
}

.number-columns{
  font-weight: 800 !important;
}
.add-new-row {
  padding:15px;
  margin:15px;
  font-size:16px;
  background:red;
  color:white;
}